version: '3.4'
services:
  api:
    image: alexandria_api:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '5384:5384'
    volumes:
      - ./bookdata:/app/bookdata
    # network_mode: host
    environment:
      - ASPNETCORE_URLS=http://+:5384
    networks:
      - alexandria_network
networks:
  alexandria_network:
